<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tracks</title>
</head>

<body>
    <table>
        <thead>
            <tr>
                <th>Album</th>
                <th>
                    <div>Name</div>
                    <div>
                        <a href="#" id="name">
                            sort
                        </a>
                    </div>
                </th>
                <th>
                    <div>Artist</div>
                    <div>
                        <a href="#" id="artist">
                            sort
                        </a>
                    </div>
                </th>
                <th>Tracks</th>
            </tr>
        </thead>
        <tbody id="album-table">
        </tbody>
    </table>

    <script>
        const nameSort = document.getElementById('name');
        nameSort.addEventListener("click", function () {
            APIRequest('http://localhost:8000/api/table_list?sort=name')
        })

        const artistSort = document.getElementById('artist');
        artistSort.addEventListener("click", function () {
            APIRequest('http://localhost:8000/api/table_list?sort=artist')
        })

        APIRequest('http://localhost:8000/api/table_list')

        function APIRequest(url) {
            const app = document.getElementById('album-table')
            app.replaceChildren()
            var request = new XMLHttpRequest()

            request.open('GET', url, true)
            request.onload = function () {
                var albums = JSON.parse(this.response)
                if (request.status >= 200 && request.status < 400) {
                    albums.forEach(album => {
                        const card = document.createElement('tr')

                        const albumTitle = document.createElement('th')
                        albumTitle.textContent = album.album

                        const name = document.createElement('th')
                        name.textContent = album.name

                        const artistName = document.createElement('th')
                        artistName.textContent = album.artistname

                        const tracksList = document.createElement('th')
                        album.tracks.forEach(trackAPI => {
                            const track = document.createElement('div')
                            track.textContent = trackAPI
                            tracksList.appendChild(track)
                        });

                        app.appendChild(card)
                        card.appendChild(albumTitle)
                        card.appendChild(name)
                        card.appendChild(artistName)
                        card.appendChild(tracksList)

                    })
                } else {
                    const errorMessage = document.createElement('marquee')
                    errorMessage.textContent = `Gah, it's not working!`
                    app.appendChild(errorMessage)
                }
            }

            request.send()
        }
    </script>
</body>

</html>